[submodule "biovault-data"]
	path = biovault-data
	url = https://github.com/OpenMined/biovault-data.git
[submodule "bioscript"]
	path = bioscript
	url = git@github.com:OpenMined/bioscript.git
	branch = main
[submodule "exvitae"]
	path = exvitae
	url = git@github.com:madhavajay/exvitae.git
